.tlist {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    flex: auto;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),  
        rgba(0, 0, 0, 0.7)
      ),
      url('../../../public/todobackground1.png') no-repeat center center / cover;
    gap: 1rem;
    overflow-y: auto;
  }
  
  .tlist h3 {
    color: white !important;
  }
  
  .t {
    color: white !important;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .undone {
    background-color: rgba(128, 128, 128, 0.37);
  }
  .done {
    background-color: rgba(69, 25, 164, 0.493);
  }
  
  .t-actions {
    display: flex;
    gap: 1rem;
  }
  .t-actions input {
    height: 20px;
    padding: 1rem;
  }
  .task {
    color: white; }